<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">    
    <title>Api Work</title>
  </head>
  <body>
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            SEI Free API List
          </h1>
          <h2 class="subtitle">
            Mustafa's API Work
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        {% block content %} {% endblock content %}
      </div>
    </section>
  </body>
</html>